body{
    background-color: black;
    color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

.icons-bar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.icons{
    border: solid;
    border-radius: 2px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border-color: white;
    background-color: black;
    cursor: pointer;
}

.icons img{
    width: 50px;
}

.control-btn{
    width: 100px;
    height: 50px;
    font-size: 15px;
}


.result{
    margin-top: 50px;
    background-color: black;
    border: none;
}

.result img{
    width: 40px;
}